:root {
    --color-brend: #819B57;
    --color-brend-dark: #465929;
    --color-primery-dark: #31261A;
    --color-primery-light: #FAF4EA;
    --bakery-landing-14: #A18268;
    --color-line: #CFCFBC;
    --color-secondary: #A18268;
}

/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--color-primery-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background: var(--color-primery-light);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

iframe {
    width: 100%;
    max-width: 603px;
}

a {
    display: inline-block;
}

.button {
    padding: 16px 32px;
    color: var(--color-primery-light);
    border-radius: 8px;
    border: 2px solid var(--color-brend);
    background: var(--color-brend);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: #465929;
    background: transparent;

}

.link {
    color: var(--color-primery-light);
    text-decoration: none;
    line-height: 1.5;

}

.link:hover {
    color: var(--color-brend);
    text-decoration: underline;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Header */
.header {
    background-color: #465929;
}

.header-flex {
    display: flex;
    /*розміщає по горизонталі*/
    align-items: center;
    /*центрує по вертикалі*/
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /*розтягує на свободне пространство*/
    gap: 40px;

}

.header-menu {
    display: flex;
    gap: 64px;
    justify-content: center;
    flex-grow: 1;
}


/* Hero-title */

.hiro-section {
    padding: 272px 0;
    background-image: url('../images/Hero-fon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-title {
    color: var(--color-primery-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;

}

.hero-title .accent {
    color: var(--color-brend);
}

/* advantages */

.advantages-section {
    background: var(--color-brend);
    padding: 16px 0;
}

.advantages-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    color: var(--color-primery-light);

}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primery-light);

}

/* section title */
.section {
    padding: 48px 0;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.center {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brend-dark);
}

/* Traditions */
.traditional-text .brand {
    color: var(--color-brend);
    font-weight: 600;
}

.traditional-text .uppercase {
    text-transform: uppercase;
}

.traditional-text.limited {
    max-width: 340px;
}


.traditional-section {
    padding-top: 96px;
}

.traditional-title {
    margin-bottom: 42px;

}

.traditional-conteiner {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditional-content {
    max-width: 710px;
}

/* Chef sections */

.chefs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}


.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chefs-title {
    margin: 0 auto 80px;
    max-width: 520px;
}

.chefs-title::after,
.chefs-title::before {
    display: block;
    background: var(--color-line);
    content: '';
    width: 352px;
    height: 2px;
}

.chef-image {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primery-light),
        -16px 16px 0 2px var(--color-secondary);
}

/* formats-section */
.formats-item {
    flex-basis: calc((100%-40px) / 3);
    flex-wrap: wrap;
}


.fommats-list {
    display: flex;
    gap: 20px;
}

.format-card {
    padding: 24px;
    border: 1px solid lightgreen;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primery-dark) 100%);
    height: 444px;
    max-width: 349px;
}

.formats-conteiner {
    display: flex;
    align-items: center;
    gap: 32px;
}

.formats-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

.format -title {
    margin-bottom: 80px;
}

.contakts-section {
    padding-bottom: 96px;
}

.contakts-conteiner {
    display: flex;
    gap: 32px;
}

.contakts-title {
    margin-bottom: 16px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

/* Carusel */

.carusel-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    fill: var(--color-primery-dark);
    border: 1px solid var(--color-primery-dark);
}

.carusel-button:hover {
    fill: var(--color-primery-light);
    background-color: var(--color-primery-dark);
}


/* footer */

.footer {
    padding: 32px 0;
}

.adress-link {
    color: var(--color-primery-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

}

.adress-link:hover {
    color: var(--color-brend);

}

.adress-icon {
    fill: var(--color-primery-light);
}

.adress-icon:hover {
    fill: var(--color-brend);
}


.adress-copyright {
    font-size: 14px;
    color: var(--bakery-landing-14);
}

.conteiner {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-conteiner {
    display: flex;
    gap: 20px;
}

.footer-nav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;

}

.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;

}

.footer-logo {
    flex-grow: 1;
}

.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}


.footer {
    background-image: url('../images/footer.png');
    background-color: var(--color-primery-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}