:root {
    --color-brend: #819B57;
    --color-brend-dark: #465929;
    --color-primery-dark: #31261A;
    --color-primery-light: #FAF4EA;
    --bakery-landing-14: #A18268;
    --color-line: #CFCFBC;
    --color-secondary: #A18268;
}