.chefs-section {
  &__title {
    margin: 0 auto 80px;
    max-width: 520px;
    position: relative;

    &::after,
    &::before {
      display: block;
      background: var(--color-line);
      content: "";
      width: 352px;
      height: 2px;
    }
    &::before {
      position: absolute;
      left: -360px;
      bottom: 24px;
    }

    &::after {
      position: absolute;
      right: -360px;
      bottom: 24px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
  }

  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
