.contakts-section {
    padding-bottom: 96px;
}

.contakts-conteiner {
    display: flex;
    gap: 32px;
}

.contakts-title {
    margin-bottom: 16px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}