.footer {
    padding: 32px 0;
}

.adress-link {
    color: var(--color-primery-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

}

.adress-link:hover {
    color: var(--color-brend);

}

.adress-icon {
    fill: var(--color-primery-light);
}

.adress-icon:hover {
    fill: var(--color-brend);
}


.adress-copyright {
    font-size: 14px;
    color: var(--bakery-landing-14);
}

.conteiner {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.footer-conteiner {
    display: flex;
    gap: 20px;
}

.footer-nav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;

}

.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;

}

.footer-logo {
    flex-grow: 1;
}

.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}


.footer {
    position: relative;
    background-image: url('../images/footer.png');
    background-color: var(--color-primery-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer::before,
.footer::after {
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    content: '';
}


.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/bread-dekor-smoll.png');
}

.footer::after {
    background-image: url('../images/two-bread-dekor.png');
    width: 380px;
    height: 190px;
    right: 0;
}

.footer-flex-icon {
    display: flex;
    gap: 22px;
    margin-top: 10px;
}