.input {
  position: relative;
  &__lable {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-primery-dark);
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--bakery-landing-14);
    background-color: transparent;

    &:focus {
      border-color: var(--color-brend);
      outline: none;
    }
    &::placeholder {
      color: var(--bakery-landing-14);
    }

    &:focus::placeholder {
      color: var(--color-primery-dark);
    }
  }
}
