.header {
  position: absolute;
  top: 0;
  left: o;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 32px;
  }

  &__flex {
    display: flex;
    /*розміщає по горизонталі*/
    align-items: center;
    /*центрує по вертикалі*/
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /*розтягує на свободне пространство*/
    gap: 40px;
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px;
      justify-content: center;
      flex-grow: 1;
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-primery-light);
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
