.link {
    color: var(--color-primery-light);
    text-decoration: none;
    line-height: 1.5;
    transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;

}

.link:hover {
    color: var(--color-brend);
    text-decoration: underline;
    font-weight: 600;
}